<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Contextual Classes</h2>
  <p>Contextual classes can be used to color the table, table rows or table cells. The classes that can be used are: .table-primary, .table-success, .table-info, .table-warning, .table-danger, .table-active, .table-secondary, .table-light and .table-dark:</p>
  <table class="table">
    <thead>
      <tr>
        <th>Hospital name</th>
        <th>Address</th>
        <th>Phone number</th>
        <th>Email-id </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pandian hospital</td>
        <td> No.19, Gandhi Nagar, Sriperumbudur, Kancheepuram District, Tamil Nadu 602105</td>
        <td>044 2716 2363</td>
        <td>www.pandianhospitals.com</td>
      </tr>      
      <tr class="table-primary">
        <td>KMT Ayurveda Hospital</td>
        <td>Nemili, Tamil Nadu 631402</td>
        <td> 9380283032 </td>
        <td> kmtayurveda@gmail.com</td>
      </tr>
      <tr class="table-success">
        <td>Jaya Hospital</td>
        <td>No.3 , Kothanda Nadar Nagar,Sriperumbudur, CHENNAI, Tamil Nadu 602105</td>
        <td> 044 2716 3133</td>
        <td> info@jayahospital.com</td>
      </tr>
      <tr class="table-danger">
        <td>Sri sarada hospital</td>
        <td>Ramanujar Nagar, Sriperumbudur, Tamil Nadu 602105</td>
        <td> 9487481452</td>
        <td>www.saradaayurveda.com</td>
      </tr>
      <tr class="table-info">
        <td>Viswananda Heritage Lifescience Clinic</td>
        <td>Keliamman Koil St, Near madha church, Kelambakkam, Tamil Nadu 603103</td>
        <td>+91 98840 80182</td>
        <td>heritagelifescienceclinic.justdial.com</td>
      </tr>
      <tr class="table-warning">
        <td>Sridevi Hospital</td>
        <td> SH 57, Ramanujar Nagar, Sriperumbudur, Tamil Nadu 602105</td>
        <td> +(91)-44-27163111.</td>
        <td>sridevihospitalkanchipuram.justdial.com</td>
      </tr>
      <tr class="table-active">
        <td>DOC Medical Services Sriperumbudur</td>
        <td>27, Chengalpet Road,, Sriperumbudur, Tamil Nadu</td>
        <td> +91-44-42188814</td>
        <td>www.docmedservices.com</td>
      </tr>
      <tr class="table-secondary">
        <td>Deepika Eye Care Hospital</td>
        <td>1564, Singaperumal Koil - Sriperumbudur Rd, 4D, Krishna Nagar, Chengalpattu, Tamil Nadu 602105</td>
        <td>+91 99520 71546</td>
        <td>jyothieyecare gmail.com</td>
      </tr>
      <tr class="table-light">
        <td>Government Hospital</td>
        <td> SH 57, Katchipedu, Sriperumbudur, Tamil Nadu 602105</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>

