

<!DOCTYPE html>
<html>
<head>
<title>MEDAPP | FIRST AID</title>
<link rel="stylesheet" href="search.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<style>
p{
font-family:courier;
font-size:24px;
}
</style>
</head>
<body background="gradient blue2.png" height="100%" width="100%" style="background-repeat:no-repeat;background-size:cover;">
  <header>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MEDAPP</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/alert">Emergency</a></li>
      <li><a href="/FirstAid">First Aid</a></li>
    </ul>
  </div>
  <div class="jumbotron" style="color:black;">
   <div class="container text-center">
   <h1 style= "font-family:Georgia;"><img src="images/bell.png" alt="" height="100%" width="100%"/>&nbsp;FIRST AID</h1>
   </div>
  </div>
  </nav>
  </header>
<center><b><h2>What are you looking for?</h2></b></center>

            <form action="/FirstAid" method="post">
            <div class="form-group">
                <center><input type="text" name="search" style="width:500px;" placeholder="Type Here" class="form-control" required><br></center>
                <center><input type="submit" value="Search" class="btn btn-success"></center>
                </div>
            </form>
  
 </body>
</html>
