<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h3>Solution</h3>
    <ul>
        <ol>
            TIPS 1 : <%=data[0]%>
        </ol>
        <ol>
            TIPS 2 : <%=data[1]%>
        </ol>
        <ol>
            TIPS 3 : <%=data[2]%>
        </ol>
    </ul>
</body>
</html>